name: Check and Release Circuit

on:
  workflow_call:
  workflow_dispatch:

jobs:
  check:
    strategy:
      fail-fast: true
    runs-on: ubuntu-24.04
    outputs:
      schematic_file: ${{ steps.file-names.outputs.schematic_file }}
      pcb_file: ${{ steps.file-names.outputs.pcb_file }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Export schematic and board file names
        id: file-names
        run: |
          echo "schematic_file=$(find . -type f -name "*.kicad_sch" | head -n 1)" >> $GITHUB_OUTPUT
          echo "pcb_file=$(find . -type f -name "*.kicad_pcb" | head -n 1)" >> $GITHUB_OUTPUT
      - name: Debug file names
        run: |
          echo "schematic_file=${{ steps.file-names.outputs.schematic_file }}"
          echo "pcb_file=${{ steps.file-names.outputs.pcb_file }}"
      - name: Run KiCad actions
        uses: actions-for-kicad/kicad-actions@d51e6623d9465cf5d95958b3a9f651aa9702a317 # v1-k9.0
        with:
          schematic_file_name: "${{ steps.file-names.outputs.schematic_file }}"
          pcb_file_name: "${{ steps.file-names.outputs.pcb_file }}"
          run_erc: false
          schematic_output_pdf: true
          run_drc: false
          pcb_output_gerbers_and_drill: true
          pcb_output_image: true
      - name: Upload KiCad check artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kicad-check-artifacts
          path: |
            ./schematic.pdf
            ./gerbers
            ./pcb.png
  release:
    name: Release
    needs: [ check ]
    runs-on: ubuntu-24.04
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Download KiCad check artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: kicad-check-artifacts
      - name: Create release tag
        id: create_tag
        run: |
          TAG_NAME="v$(date +'%Y.%m.%d')-$(echo ${{ github.sha }} | cut -c1-7)"
          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT
      - name: Create release with artifacts
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: ${{ steps.create_tag.outputs.tag_name }}
          name: Release ${{ steps.create_tag.outputs.tag_name }}
          draft: false
          prerelease: false
          files: |
            ./schematic.pdf
            ./gerbers
            ./pcb.png
  success:
    runs-on: ubuntu-latest
    needs:
      - check
      - release
    if: >-
      ${{
        always() && (
          contains(join(needs.*.result, ','), 'failure')
          || !contains(join(needs.*.result, ','), 'cancelled')
        )
      }}
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
